<li>
    {{name}}

    <button class="change-burger" data-id="{{id}}" data-newBurger="{{devour}}">
        {{#if devour}}DEVOUR TIME!{{else}}ORDER ANOTHER!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>